body {
  font-family:"Montserrat";  
}

#title{
    background-color: #ff4c68;
}
.heading{
    padding-left: 15px;
    color: aliceblue;
}
h1 { 
     font-family: 'Montserrat', sans-serif;  
     font-size: 3.5rem;  
     line-height: 1.5;  
     font-weight: 800;
    }
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
}
.container-fluid{
    padding: 3% 15%;
}
.navbar {
   
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 4.5rem;
    padding-left: 0;
    margin-left: 15px ;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    
}
.download-button{
     margin: 5% 3% 5% 0;
}
.title-image {
    width: 60%;
    transform: rotate(25deg);
}
/* .features */

#features{
    padding: 7% 15%;    
}
p{
    color: #8f8f8f;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
     color: #ef8172;
     margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}


/* testimonials */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color:white;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
   background-color: #ef8172;
   text-align: center; 
   padding-bottom: 3%;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
} 
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .title-image{
         position: static;
         transform: rotate(0);

    }
}
#cta{  
    padding: 7% 15%;
    line-height: 2;
    text-align: center;
    background-color: #ff4c68;
}
.lasth{
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
}

#footer{
    text-align: center;
    padding: 7% 15%;
}
.social-icons{
      padding: 10px;
}